<nav>
  <div class="nav-left">
    <div class="container">
      <a class="compass-icon" href="/listings">
        <i class="fa-solid fa-compass"></i>
      </a>
    </div>
  </div>
  <div class="search-bar">
    <form role="search">
      <input
        class="search-inp"
        type="search"
        placeholder="Search destinations"
      />
      <i class="fa-solid fa-magnifying-glass"></i>
    </form>
  </div>
  <div class="nav-right">
    <div>
      <a class="nav-link" href="/listings/new">Airbnb your home</a>
    </div>

    <div>
      <% if(!currUser) { %>
      <a class="nav-link" href="/signup"><b>Sign up</b></a>
      <% } %>
    </div>

    <div>
      <% if(!currUser) { %>
      <a class="nav-link" href="/login"><b>Log in</b></a>
      <% } %>
    </div>

    <div>
      <% if(currUser) { %>
      <a class="nav-link" href="/logout"><b>Log out</b></a>
      <% } %>
    </div>
  </div>
  <div class="menu-bar">
    <i class="fa-solid fa-bars"></i>
  </div>
</nav>
<div class="separation"></div>
<div class="navigation-links">
  <a class="nav-link" href="/listings/new">Airbnb your home</a>
  <% if(!currUser) { %>
  <a class="nav-link" href="/signup"><b>Sign up</b></a>
  <a class="nav-link" href="/login"><b>Log in</b></a>
  <% } %> <% if(currUser) { %>
  <a class="nav-link" href="/logout"><b>Log out</b></a>
  <% } %>
</div>
