<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airbnb Clone Project</title>
    <link rel="stylesheet" href="css/home.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
      integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <div class="container">
      <h1 class="headline">Discover My Wanderlust Project</h1>
      <p class="description">
        Embark on a journey of exploration with 'Wanderlust', an exquisite
        Airbnb replica meticulously crafted by Airbnb. Immerse yourself in a
        world of travel, where every stay promises adventure and every
        destination invites discovery."
      </p>
      <a href="/listings" class="btn">Visit Now</a>
      <div class="footer">
        For inquiries, contact me at <a href="#">waghakshay186@gmail.com</a> or <br><br>
         <a href="https://wa.link/wx6yvb"><i class="fa-brands fa-whatsapp"></i></a>
      </div>
    </div>
  </body>
</html>
