<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airbnb Clone Project</title>
    <link rel="stylesheet" href="css/home.css" />
  </head>
  <body>
    <div class="container">
      <h1 class="headline">Discover My Airbnb Clone Project</h1>
      <p class="description">
        Discover and book unique hotels worldwide effortlessly. With our
        diverse selection and easy booking, finding your perfect stay is a
        breeze.
      </p>
      <a href="/listings" class="btn">Visit Now</a>
      <div class="footer">
        For inquiries, contact me at <a href="#">unknown@example.com</a>
      </div>
    </div>
  </body>
</html>
