<% layout("/layouts/boilerplate") %>

<div class="new_page">
  <div>
    <h3 class="new_page_title">Create New Listing</h3>
    <br />
    <form
      method="POST"
      action="/listings"
      novalidate
      class="needs-validation"
      id="new_page"
      enctype="multipart/form-data"
    >
      <div>
        <label for="title" class="new_page_form-label">Title</label>
        <input
          id="title"
          name="listing[title]"
          placeholder="Add a catchy title"
          class="form-control"
          type="text"
          required
        />
        <div class="valid-feedback">Title looks good!</div>
        <div class="invalid-feedback">Please enter a title</div>
      </div>

      <div>
        <label for="description" class="new_page_form-label">Description</label>
        <textarea
          id="description"
          name="listing[description]"
          required
          class="form-control"
        ></textarea>
        <div class="invalid-feedback">Please enter a short description</div>
      </div>

      <div>
        <label for="image" class="new_page_form-label"
          >Upload Listing Image</label
        >
        <input
          id="image"
          name="listing[image]"
          type="file"
          class="form-control"
          required
        />
        
        <div class="invalid-feedback">Upload a listing Image</div>
      </div>

      <div>
        <label for="price" class="new_page_form-label">Price</label>
        <input
          id="price"
          name="listing[price]"
          placeholder="1200"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Price should be valid</div>

        <label for="country" class="new_page_form-label">Country</label>
        <input
          id="country"
          name="listing[country]"
          placeholder="India"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Country name should be valid</div>
      </div>

      <div>
        <label for="location" class="new_page_form-label">Location</label>
        <input
          id="location"
          name="listing[location]"
          placeholder="Jaipur, Rajasthan"
          type="text"
          class="form-control"
          required
        />
        <div class="invalid-feedback">Location should be valid</div>
      </div>

      <button class="add_btn">Add</button>
    </form>
  </div>
</div>
