.main {
  max-width: 90vw;
  margin: auto;
}
.index-page-top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 1rem;
}

#filters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
}
.tax-info {
  display: none;
}
.filter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.listings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  row-gap: 1rem;
  padding-bottom: 5px;
}
.index-page-card .content-div .listing-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.index-page-card .content-div {
  margin-left: 1.2rem;
}

.index-page-card {
  width: 100%;
  height: 100%;
  position: relative;
}

.index-page-card-img {
  display: block;
  margin: 10px auto;
  height: 70%;
  position: relative;
  width: 90%;
  border-radius: 1rem;
  object-fit: cover;
}

@media screen and (max-width: 1200px) {
  .listings {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .index-page-card .content-div .listing-name {
    font-size: 1rem;
  }
}

@media screen and (max-width: 1020px) {
  .index-page-top {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  .listings {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 600px) {
  .index-page-card .content-div {
    margin-left: 2.4rem;
  }
  .index-page-card .content-div .listing-name {
    font-size: 1rem;
  }
  .index-page-card {
    width: 100%;
    height: auto;
    position: relative;
  }
  .listings {
    grid-template-columns: 1fr;
    gap: 0;
  }
}

@media screen and (max-width: 456px) {
  .index-page-card .content-div {
    margin-left: 1.5rem;
  }
  .footer {
    display: none;
  }
}
@media screen and (max-width: 333px) {
  .index-page-card .content-div {
    margin-left: 1.2rem;
  }
  .index-page-card .content-div .listing-name {
    font-size: 1rem;
    font-weight: 600;
  }
}
