.show-page {
  max-width: 35vw;
  margin: 0 auto;
  padding: 20px;
  /* margin-top: 3rem; */
  margin-bottom: 3rem;
}

.listing-details {
  width: 100%;
}
.title h3 {
  margin-top: 0;
}

.show-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card-body {
  padding: 10px;
  border-radius: 5px;
}
.card-text {
  margin: 0;
  padding: 3px 0;
}

.card-body > :nth-child(2),
.card-body > :nth-child(3),
.card-body > :nth-child(4),
.card-body > :nth-child(5) {
  font-weight: 600;
}
.card-text i {
  font-style: italic;
}

.show-page .btns {
  display: flex;
}

.edit_btn,
.delete_btn {
  padding: 8px 18px;
  margin-right: 0.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  background-color: #007bff;
  text-decoration: none;
}

.delete_btn {
  background-color: #dc3545;
}

.starability-result {
  margin-bottom: 10px;
}

.Delete_review {
  background-color: #dc3545;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  color: #fff;
  cursor: pointer;
  margin-bottom: 1rem;
}

.submit-btn {
  padding: 8px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.form-control {
  width: 100%;
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

textarea {
  resize: vertical;
  min-height: 10px;
}

.invalid-feedback {
  color: #dc3545;
}

.Reviews {
  display: flex;
  flex-wrap: wrap;
}

.Review {
  /* border: 1px solid red; */
  margin-right: 1.5rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 412px) {
  .Delete_review {
    margin-bottom: 0;
  }
  .Review .card-title {
    font-weight: 600;
    font-size: 1rem;
  }
}
