<% layout("/layouts/boilerplate") %>

<div class="signupForm">
  <h2>SignUp to Wanderlust</h2>
  <hr class="horizontal-line">
  <form action="/signup" method="POST" class="needs-validation" novalidate>
    <div>
      <label for="username" class="form-label">Username</label>
      <input
        name="username"
        id="username"
        class="form-control"
        type="text"
        required
      />
      <div class="valid-feedback">Looks good!</div>
    </div>
    <div>
      <label for="email" class="form-label">Email</label>
      <input
        name="email"
        id="email"
        class="form-control"
        type="email"
        required
      />
    </div>
    <div>
      <label for="password" class="form-label">Password</label>
      <input
        name="password"
        id="password"
        class="form-control"
        type="password"
        required
      />
    </div>
    <button class="signup-btn">SignUp</button>
  </form>
</div>









